/* Importing the 'Inter' font from Google Fonts, with two specific weights: 300 and 600 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

/* Defining a new font-face, 'Srbija Sans' by Metaklinika 
https://www.srbijasans.rs/ */
@font-face {
    font-family: 'Srbija Sans';
    src: url(../fonts/SrbijaSans.woff);
}


/* Base Styles * * * * * * * * * * * * * * * * * * * * * * * * *
Adapted from Skeleton by David Gamache
https://github.com/dhg/Skeleton/blob/master/css/skeleton.css */

/* Enabling smooth scrolling */
html, body {
    scroll-behavior: smooth;
}

/* Setting the base font size for the entire HTML document to 62.5%, 
which sets 1rem to be approximately 10px 
(since the default font-size for most browsers is 16px) */
html {
    font-size: 62.5%;
}

/* Setting the base font size for the body to be 1.5em, 
which is 15px here due to setting of html font-size to 62.5% */
body {
    font-size: 1.6em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #1f2937;
}

/* Typography * * * * * * * * * * * * * * * * * * * * * * * * *
Adapted from Skeleton by David Gamache
https://github.com/dhg/Skeleton/blob/master/css/skeleton.css */

/* Defining the common styles for all headings to give them the same colour, 
margins, and font family */
h1, h2, h3, h4, h5, h6 {
    color: #1f2937;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Srbija Sans', Arial, Helvetica, sans-serif;
}

/* Setting individual font sizes and line heights for each heading level */
h1 {
    font-size: 4.8rem;
    line-height: 1.2;
    color: #f9faf8;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
}

    /* Media query to adapt font-size of header tags for screens 
    with a minimum width of 1200px for better readability */
    @media screen and (min-width: 1200px) {
        h1 {
            font-size: 5.6rem;
        }

        h2 {
            font-size: 4.8rem;
        }

        h3 {
            font-size: 3.6rem;
        }

        h4 {
            font-size: 2.8rem;
        }

        h5 {
            font-size: 2.4rem;
        }

        h6 {
            font-size: 1.8rem;
        }
    }

/* Setting margins for all paragraph tags */
p {
    margin: 0 0 2rem 0;
}

/* Setting semi-bold font weight for all strong and b tags */
strong, b {
    font-weight: 600;
}

/* Styling all blockquote tags with larger font size, italicised, 
and centred text, as well as a text-shadow for better contrast */
blockquote {
    font-size: 3.2rem;
    font-style: italic;
    text-shadow: 0 0 1rem #000000;
}

/* Applying styles to both menu and ul tags by removing list styles 
and any default padding for cleaner list presentation */
menu,
ul {
    list-style: none;
    padding: 0;
}


/* Links * * * * * * * * * * * * * * * * * * * * * * * * */

/* Setting colour and removing default hyperlink underline 
for unobtrusive link styles */
a {
    color: #3882f6;
    text-decoration: none;
}

/* Changing colour of hyperlinks on hover */
a:hover {
    color: #619eff;
}

/* Styling for menu button, including colour, uppercase text, 
border, and background transparency */
button#menu {
    color: #f9faf8;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px #f9faf8 solid;
    padding: 0.8rem 1rem;
}

/* Specific .button class styles for styling anchor elements */
.button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #f9faf8;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    line-height: 38px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    transition: 0.3s;
}

/* Hover effect styling for both .button class elements includes changing colour, 
border colour, and adding background colour */
.button:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Specific hover effect styling for primary buttons with blue background and no border */
.button.button-primary {
    background: #3882f6;
    border: 0;
}

/* Changing background colour of primary buttons on hover */
.button.button-primary:hover {
    background: #619eff;
}

/* Background Cover */

/* Class styles that set up a full size background cover with padding */
.background-cover {
    position: relative;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
}

/* Pseudo-element for the background cover provides a dark overlay, 
for creating contrast with light content in the foreground */
.background-cover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(31, 41, 55, 0.8);
}

/* Wrappers * * * * * * * * * * * * * * * * * * * * * * * * */

/* Defining layout and styles for any .inner class element that is a direct child 
of any element within the wrapper, including setting relative position, width, 
max-width, and automatic margins (centring) */
.inner {
    position: relative;
    width: 80%;
    max-width: 128rem;
    margin: auto;
    padding: 3rem;
}

/* Setting the gap between all direct child elements of an .inner class 
within the wrapper to maintain consistent space between elements */
.inner>* {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* Displaying flex containers as rows, with items aligned at the top 
and centred horizontally. */
.inner .row {
    flex-direction: row;
    align-items: flex-start;
}

/* Displaying flex containers as columns, with items centred vertically. */
.inner .column {
    flex-direction: column;
}


/* Navigation Menu * * * * * * * * * * * * * * * * * * * * * * * * *
Adapted from Mobile Navigation Bar by W3Schools
https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */

/* Banner styles that set up a flex container with full width, row direction, 
space-between content, and padding at the bottom */
#banner {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    padding-bottom: 3rem;
    flex: auto;
}

/* Styling hyperlink colour within the banner */
#banner a {
    color: #f9faf8;
}

/* Hover effect styling for banner links includes a glow effect, 
and a transition for a smoother appearance change */
#banner a:hover {
    color: #ffffff;
    text-shadow: 0 0 0.8rem #ffffff;
    transition: 0.3s;
}

/* Styling for #logo within the banner, adjusting colour, font size, 
and font family */
#banner a#logo {
    color: #f9faf8;
    font-size: 1.5em;
    font-family: 'Srbija Sans', Arial, Helvetica, sans-serif;
}

/* Adjusting the position of the menu button in the stack order */ 
#menu {
    z-index: 1;
}

/* Applying a box shadow to the menu button when it is being hovered over 
for better user feedback, and adding a transition for a smoother appearance change */
#menu:hover {
    color: #ffffff;
    box-shadow: 0 0 0.8rem #ffffff;
    transition: 0.3s;
}


/* Hero Section * * * * * * * * * * * * * * * * * * * * * * * * */

/* Hero styles define a flex container with centered content, 
both vertically and horizontally, and set text colour */
#hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

/* Setting width and flex factor for direct children of #hero */
#hero>* {
    flex: 1;
}

/* Narrowing width for h1 tags in the hero section to wrap text */
#hero h1 {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

/* Adding text shadow to paragraphs in the homepage's hero section for better contrast */
#hero p {
    text-shadow: 0 0 1rem #000000;
}

/* Styling hero images for defined width and content alignment */
#hero img {
    width: 20vw;
    max-width: 600px;
}

#hero.home {
    margin-bottom: -3rem;
}

    /* Media query for screens with max width of 992px, adjusting #hero 
    and its children to a column layout with centre alignment and text centring */
    @media screen and (max-width: 992px) {
        /* Switch hero layout to column */
        #hero {
            flex-direction: column;
        }

        #hero.home {
            gap: 0;
        }

        /* Centre text alignment of direct children of the homepage's #hero 
        for smaller screens */
        #hero.home>* {
            text-align: center;
        }

        /* Adjust width of hero images for smaller screens */
        #hero img {
            width: 60vw;
        }

        /* Change order of first child of the homepage's hero section 
        to be last in smaller screens */
        #hero.home> :first-child {
            order: 2;
            padding-bottom: 6rem;
        }
    }


/* Main Section * * * * * * * * * * * * * * * * * * * * * * * * */

/* Styling main sections with a box shadow, padding, 
flex factor and an increased z-index to display box shadow */
main {
    box-shadow: 0 0 2rem #000000;
    z-index: 1;
}

/* Setting children of main element to full width */
main * {
    width: 100%;
    flex: auto;
}

/* Styling image elements within main sections with a width and height based on 
viewport width, decreased opacity for a fade effect, and other properties */
main img {
    width: 100%;
    height: 15vw;
    min-height: 300px;
    object-fit: cover;
    border-radius: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Centring h2 elements within the main section and adding a bottom margin for spacing */
main h2 {
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
}

/* Figures will take up twice as much space along the main axis 
compared to other items in the same row. */
.row figure {
    flex: 2;
}

/* Figures will take up thrice as much space along the main axis 
compared to other items in the same row. */
.row div {
    flex: 3;
}

/* Apply styles to rows inside a section with the class "inner" */
.inner section.row {
    align-items: center;
    padding: 1.5rem 0;
}

/* Styling alternative article elements with a light grey background 
and top padding for spacing */
.column.alt {
    background-color: #ebebeb;
}

    /* Media query for screens with max width of 992px, adjusting the flex direction 
    for tablet and mobile displays */
    @media screen and (max-width: 992px) {
        /* Change the flex direction of the row class to column */
        .inner .row {
            flex-direction: column;
        }

        /* Adjust the width and height of image elements within the main section */
        main img {
            width: 100%;
            height: 50vw;
        }
    }


/* Featured Section * * * * * * * * * * * * * * * * * * * * * * * * */

/* Setting the width of the hyperlinked elements within the featured section to 100% */
#featured a {
    width: 100%;
}

/* Styling h3 elements with a specific font-family, colour, and text alignment 
within the featured section */
#featured h3 {
    font-family: 'Srbija Sans', Arial, Helvetica, sans-serif;
    color: #1f2937;
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 0;
}

/* Styling image elements within the featured section with a square width and height
based on viewport width, decreased opacity for a fade effect, and other properties */
#featured img {
    width: 14vw;
    height: 14vw;
    border-radius: 1.2rem;
    opacity: 0.8;
    transition: 0.3s;
    margin-bottom: 0.5rem;
}

/* Hover effect for image elements within the featured section using scaling 
to create a zoom effect, and restoring opacity to 1 */
#featured img:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* Colour and text alignment for paragraph elements within the featured section */
#featured p {
    color: #1f2937;
    text-align: center;
}

    /* Media query for screens with max width of 992px, adjusting the layout and styles 
    for the featured section and its children */
    @media screen and (max-width: 992px) {
        /* Increase font size of h3 elements within the featured section */
        #featured h3 {
            font-size: 2.4rem;
        }

        /* Adjust the width and height of image elements within the featured section */
        #featured img {
            width: 100%;
            height: 50vw;
        }
    }


/* Featured Quote * * * * * * * * * * * * * * * * * * * * * * * * */

/* Configuring the quote class to be a centred flex container, 
with a light colour and generous margin for readability */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    margin: 3rem;
}

/* Specifying the font size, weight, style and bottom margin 
for figure captions within the quote class */
.quote figcaption {
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    margin: 0 0 3rem auto;
}

    /* Media query for resizing the font for blockquote and figcaption elements 
    within the quote class on screens with a max width of 992px */
    @media screen and (max-width: 992px) {
        .quote blockquote {
            font-size: 2.4rem;
        }

        .quote figcaption {
            font-size: 1.6rem;
        }
    }


/* Call to Action * * * * * * * * * * * * * * * * * * * * * * * * */

/* Styling a call-to-action module as a flex row container with evenly spaced items, 
box shadow, blue background, padding, and margin */
.cta {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #f9faf8;
    background: #3882f6;
    border-radius: 0.5em;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    padding: 3rem 8rem;
    margin: 6rem auto;
}

/* Font styling for h2 tags within the CTA module */
.cta h2 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #f9faf8;
}

/* Removing margins from p tag within the CTA module */
.cta p {
    margin: 0;
}

    /* Media query to rearrange CTA layout and styles on screens narrower than 768px */
    @media screen and (max-width: 992px) {
        .cta {
            flex-direction: column;
            padding: 3rem;
        }

        .cta h2 {
            text-align: center;
            margin-bottom: 2rem;
        }

        .cta p {
            text-align: center;
        }
    }

/* Footer * * * * * * * * * * * * * * * * * * * * * * * * */

/* Footer styling including its position, layout, color scheme, box-shadow, and padding */
footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f9faf8;
    background: #1f2937;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    padding: 3rem;
    z-index: 1;
}

/* Side Navigation * * * * * * * * * * * * * * * * * * * * * * * * *
Adapted from How TO - Side Navigation by W3Schools
https://www.w3schools.com/howto/howto_js_sidenav.asp */

/* Styles a side navigation bar as a column-wise flex container, 
initially hidden with width 0 to be later changed with a JavaScript function.
Contains settings for position, z-index, anchored at the top right of the viewport, 
background colour, overflow setting, padding, and transition effect */
.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25rem;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -25rem;
    background-color: #1f2937;
    overflow-x: hidden;
    padding-top: 6rem;
    transition: 0.5s;
}

/* Styles the navigation menu links within the side navigation, including their layout, 
padding, text decoration, colour, and transition effect */
.sidenav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 0.8rem 0.8rem 3.2rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: #f9faf8;
    transition: 0.3s;
}

/* Styles the links inside list items within the side navigation when hovered upon, 
   changing the background colour and text colour */
.sidenav li a:hover {
    background-color: #f9faf8;
    color: #1f2947;
}

/* Styles the images (flag icons) within side navigation, setting a specific size, 
colour, and padding */
.sidenav img {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    padding: 0 1rem 0 0;
}

/* Styles the close button within the side navigation to specify its position, 
font size, and margin */ 
.sidenav .closebtn {
    position: absolute;
    top: 2.5rem;
    right: 1.8rem;
    font-size: 3rem;
}

    /* Media query for screens with max-height of 576px to adjust the styles 
    within the side navigation */
    @media screen and (max-height: 576px) {
        .sidenav {
            padding-top: 1.5rem;
        }

        .sidenav a {
            font-size: 1.8rem;
        }
    }


/* Back to Top * * * * * * * * * * * * * * * * * * * * * * * * */

/* Styling the back-to-top button as a fixed, circular button 
positioned at the bottom right of the viewport (initially invisible), 
with transitions set for the opacity and background colour */
#top {
    opacity: 0;
    position: fixed;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    color: #f9faf8;
    background-color: #3882f6;
    box-shadow: 0 0 2rem #000000;
    border: none;
    border-radius: 50%;
    bottom: 2.5%;
    right: 10%;
    transition: opacity 0.5s ease, background-color 0.3s ease;
    z-index: 2;
}

/* Styling back-to-top button when it has the 'visible' class (added by JavaScript), 
increasing the opacity to make it slightly transparent */
#top.visible {
    opacity: 0.8;
}

/* Styling the back-to-top button when it's hovered over, making it fully visible. */
#top:hover {
    opacity: 1;
}
  
/* Media query to adapt scroll-to-top button for screens  
    with a minimum width of 992px for better readability */
    @media screen and (min-width: 992px) {
        #top {
            right: 2.5%;
        }
    }