@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

@font-face {
    font-family: 'Srbija Sans';
    src: url(../fonts/SrbijaSans.woff);
}

/* Base Styles
Adapted from Skeleton by David Gamache 
https://github.com/dhg/Skeleton/blob/master/css/skeleton.css */

html {
    font-size: 62.5%;
    /* "[Set] to 62.5% so that all the REM measurements ...
    are based on 10px sizing." */
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #1f2937;
}

/* Typography
Adapted from Skeleton by David Gamache
https://github.com/dhg/Skeleton/blob/master/css/skeleton.css */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1f2937;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Srbija Sans', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    color: #f9faf8;
}

h2 {
    font-size: 3.3rem;
    line-height: 1.25;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
}

/* Desktops, large screens */

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 5.0rem;
    }

    h2 {
        font-size: 4.2rem;
    }

    h3 {
        font-size: 3.6rem;
    }

    h4 {
        font-size: 3.0rem;
    }

    h5 {
        font-size: 2.4rem;
    }

    h6 {
        font-size: 1.5rem;
    }
}

p {
    margin: 0 0 2rem 0;
}

blockquote {
    font-size: 3.2rem;
    font-style: italic;
    text-align: center;
    text-shadow: 0 0 1em black, 0 0 2em black;
}

menu,
ul {
  display: flex;
  list-style: none;
  padding: 0;
}

/* Links */

a {
    text-decoration: none;
}

.button,
button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #f9faf8;
    text-align: center;
    white-space: nowrap;
    line-height: 38px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    transition: 0.3s;
}

.button:hover,
button:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.button.button-primary,
button.button-primary {
    background: #3882f6;
    border: 0;
}

.button.button-primary:hover,
button.button-primary:hover {
    background: #619EFF;
}

/* Header Content */

.background-cover {
    position: relative;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    padding: 3rem 0;
    z-index: 0;
}

.background-cover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(31, 41, 55, 0.8);
    z-index: 1;
}

/* Navigation Menu
Adapted from Mobile Navigation Bar by W3Schools
https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */

.top-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    padding-bottom: 3rem;
    flex: 1;
    z-index: 1;
}

.top-nav a {
    color: #f9faf8;
}

.top-nav a.logo {
    color: #f9faf8;
    font-size: 1.5em;
    font-family: 'Srbija Sans', Arial, Helvetica, sans-serif;
}

#menu {
    text-transform: uppercase;
    border: 1px #f9faf8 solid;
    padding: 0.6rem 0.8rem;
}

#nav-links {
    display: none;
    position: absolute;
    right: 30rem;
    top: 4rem;
    background-color: #1f2947;
}

menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

#nav-links a:hover {
    background-color: #f9faf8;
    color: #1f2947;
}

#nav-links img {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    padding: 0 1rem 0 0;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.hero>* {
    width: 100%;
    flex: 1;
}

.hero img {
    width: 20vw;
    max-width: 600px;
}

/* Small screens, laptops */

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .hero img {
        width: 60vw;
    }

    .hero *:first-child {
        order: 2;
    }
}

/* Featured Section */

.featured {
    position: relative;
    box-shadow: 0 0 2rem #000000;
    padding: 3rem 0;
    flex: 1;
    z-index: 2;
}

.featured h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.featured figcaption {
    font-family: 'Srbija Sans', Arial, Helvetica, sans-serif;
    color: #1f2937;
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 0;
}

/* Small screens, laptops */

@media screen and (max-width: 1024px) {

    .featured figcaption {
        font-size: 2.4rem;
    }
}

.info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.info>* {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.info .thumbnail {
    width: 14vw;
    height: 14vw;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.info figure {
    width: 100%;
}

.info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.2rem;
    opacity: 0.8;
    transition: 0.3s;
}

.info img:hover {
    transform: scale(1.05);
    opacity: 1;
}

.info p {
    color: #1f2937;
    text-align: center;
}

/* Small screens, laptops */

@media screen and (max-width: 1024px) {
    .info {
        flex-direction: column;
    }
    .info .thumbnail {
        width: 100%;
        height: 42vw;
    }
}

/* Quote Section */

/* figure
blockquote
figcaption */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    margin: 3rem;
}

.quote .author {
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
}

/* Small screens, laptops */

@media screen and (max-width: 1024px) {
    .quote {
        font-size: 2.4rem;
    }
    .quote .author {
        font-size: 1.6rem;
    }
}

/* Call to Action */

.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #f9faf8;
    background: #3882f6;
    border-radius: 0.5em;
    padding: 3rem 8rem;
    margin: 2rem auto;
}

.cta h2 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #f9faf8;
}

.cta p {
    margin: 0;
}

/* iPads, tablets */

@media screen and (max-width: 768px) {
    .cta {
        flex-direction: column;
    }

    .cta h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .cta p {
        text-align: center;
    }
}

/* Footer */

footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f9faf8;
    background: #1f2937;
    box-shadow: 0 0 2rem #000000;
    padding: 1.5rem;
    z-index: 2;
}

/* Wrapper */

#wrapper>*>.inner {
    position: relative;
    width: 80%;
    max-width: 128rem;
    margin: 0 auto;
    z-index: 2;
}

#wrapper>*>.inner>* {
    gap: 3rem;
}

.right {
    justify-content: flex-end;
}